# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
.test
/.gradle/
/gradle/
/TEST_GIT.ipr
/TEST_GIT.iws
